body {
    padding: 20px;
    background-color: #7CFC00;
  }
  #titulo {
    text-align: center;
    box-shadow: 5px 5px;
      
    }
  #contenido {
    padding-left: 50px;
    background-color: white;
    padding-bottom: 20px;
  }
  h1{
    text-shadow: 2px 2px #003300;
  }
  h2{
    
    text-decoration-line: underline;
    text-decoration-color: green;
  }
  #autor a:hover {
    color: green;
    text-transform: uppercase;
  }